CALLBACK_URL
DATABASE_URL
IPSTACK_API_KEY
JWT_SECRET
PYTHON_SERVICE_URL
REDIS_URL
SESSION_SECRET
SETLIST_API_KEY
STEAM_API_KEY
TICKETMASTER_KEY
TMDB_API_KEY
TMDB_READ_KEY
WEATHER_API_KEY
APP_NAME
APP_VERSION
APP_CONTACT